img.step {
	display:block;
	width:100%;
	border:3px solid black;
}

// Avoid header text truncation
body .ui-footer .ui-title {
	white-space: normal;
}
.ui-header, .ui-title, .ui-footer {
	margin-right: 0 !important;
	margin-left: 0 !important;
	font-size: 12px;
}
.ui-li-heading {
	font-size: 12px;
}
.ui-li-desc {
	white-space: normal;
	overflow:visible;
}
